{% extends 'blog/base.html' %}

{% block content %}
    <strong>
        Usuário: {{ author.first_name }} ({{ author.username }})
    </strong>
    {% for post in posts %}
        <article class="post">
            {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% else %}
                <time class="date">
                    No date
                </time>
            {% endif %}
            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% empty %}
        <h3>No posts yet =/</h3>
    {% endfor %}

    {% include 'blog/footer.html' %}

{% endblock %}
